body{
background-color: #228B22;
}

.app{
   text-align: center;
}

.marca{
 padding: 35px;
 font-weight: normal;
 color: #F0F8FF;
 font-size: 50px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search{
  margin-top: 10px;
  margin-bottom: 10px;
}

.cep{
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: #F0F8FF;
}

.action{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 125px;
    height: 25px;
    border-color: #F0F8FF;
    font-weight: bold;
    color:  #228B22;
}

.info{
 margin-top: 10px;
 margin-bottom: 30px;
 font-weight: normal;
 color: #F0F8FF;
}

.dados{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.show{
 border-radius: 8px;
 width: 250px;
 height: 25px;
}